.info-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 260px;
  margin: 0px;
  font-size: 14px;
  color: black;
  font-weight: 400;
  overflow: auto;
}

.info-window img {
  height: 100px;
  margin: 10px 0px;
  border-radius: 2px;
}

small {
  font-size: 12px;
}